/* about page style  */
.about__header{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.69%, #141218 100%), url('../images/about/about-header.jpeg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* about-details */
.about-details .sec-title {
    color: var(--gray-light);
    margin: 0;
    line-height: 1;
}

.about .about_text-left{
    font-size: 2rem;
}
.about .about_text-right{
    font-size: 1rem;
}

/* investors */
/* investors-details */
.investors-details .sec-title {
    color: var(--gray-light);
    margin: 0;
    line-height: 1;
}
.investors .sec-title::after{
    content: 'Investors';
}  

/* Grid view  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
    gap: 0; /* Gap between the boxes */
}

.grid-item {
    color: var(--gray-light);
    padding: 6rem 1rem;
    text-align: center;
    font-size: 20px;
    border: 1.3px solid var(--gray-medium);
}

/* Responsive layout for smaller screens */
@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}