.m-plus-1p-thin {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.m-plus-1p-light {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.m-plus-1p-regular {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.m-plus-1p-medium {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.m-plus-1p-bold {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.m-plus-1p-extrabold {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.m-plus-1p-black {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 900;
    font-style: normal;
}