/* projects page style  */
.projects-page{
    overflow: unset;
}
/* project-details */
.project-details {
    padding: calc(100px + 8rem) 3rem 0;
    background: linear-gradient(9deg, #141218 38.06%, #410E57 87.91%);
    background-blend-mode: multiply;
}

.project-details .sec-title {
    color: var(--gray-light);
    margin: 0;
    line-height: 1;
}

.project-details__icon-grid {
    width: 100%;
    padding: 1rem 3rem;
    top: 100px;
    background-color: rgba(var(--background-solid), 0.98);
    z-index: 1;
}

.project-details__icon-grid .grid-view {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem 0.5rem;
}

.project-details__icon-grid .grid-view .filter-item {
    cursor: pointer;
    transition: color, transform .3s ease-in-out;
    user-select: none;
}

.project-details__icon-grid .grid-view .filter-item:hover {
    transform: translateY(-5px);
}

.project-details__icon-grid .icon-wrap {
    width: 62px;
    height: 62px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-details__icon-grid .grid-view .filter-item .active-img {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.project-details__icon-grid .grid-view .filter-item.selected {
    color: var(--main-color);
}

.project-details__icon-grid .grid-view .filter-item.selected .active-img {
    opacity: 1;
}


/* project-list style  */
.project-list .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.project-list .box {
    flex-direction: column;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 10px 20px -10px rgba(234, 221, 255, 0.4);
    display: none;
}

.project-list .box.show {
    display: flex;
}

.project-list .box .box-img-wrapper img{
    transition: all .4s;
    height: 450px;
    object-fit: cover;
    object-position: center;
}
.project-list .box .box-img-wrapper{
    overflow: hidden;
}

.project-list .box:hover .box-img-wrapper img{
    transform: scale(1.1);
}

@media (max-width: 1024) {
    .project-list .box .box-img-wrapper img{
        height: 300px;
    }
}
@media (max-width: 992px) {
    .project-details__icon-grid .grid-view {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1rem .5rem;
    }
    .project-details__icon-grid .icon-wrap {
        width: 35px;
        height: 35px;
    }
    .project-details__icon-grid .icon-txt {
        font-size: .8rem;
    }
    .project-list .box .box-img-wrapper img{
        height: 250px;
    }
    .project-details__icon-grid{
        top: 87px;
    }
}