/* services page style  */
/* services-details */
.services-details {
    padding:calc(100px + 8rem) 3rem 3rem;
    background-image: linear-gradient(36.34deg, #212529 38.06% ,#410E57 87.91%);
}

.services-details .sec-title {
    color: var(--gray-light);
    margin: 0;
    line-height: 1;
}

/* services-list style  */

.services-list .line {
    padding: 2px;
    background-image: radial-gradient(circle at center, #ed62e9, rgb(61 12 60) 100%);
}
.services-list > div:first-child {
    background-image: radial-gradient(50% 50% at 50% 50%, rgb(43 30 56) 47%, rgb(33 37 41) 100%);
}

.services-list .service-icon-wrap {
    width: 11rem;
}
