/* services page style  */
/* services-details */
.services-details {
    padding:calc(100px + 8rem) 3rem 3rem;
    background: linear-gradient(19deg, #141218 38.06%, #410E57 87.91%);
    background-blend-mode: multiply;
}

.services-details .sec-title {
    color: var(--gray-light);
    margin: 0;
    line-height: 1;
}

/* services-list style  */
.services-list > div{
    cursor: default;
}
.services-list > div .line{
    transition: opacity .5s ease-in-out;
}
.services-list > div:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgba(101, 47, 144, 0.2) 47%, rgba(29, 14, 42, 0.2) 100%);
}
.services-list > div:hover .line{
    opacity: 1;
}

.services-list .service-icon-wrap {
    transition: all .5s ease-in-out;
    width: 11rem;
}

.services-list > div:hover .service-icon-wrap{
    filter: contrast(10);
    transform: scale(1.1);
}

.services-list .service-img-wrap img{
    transition: all .4s;
}

.services-list >div:hover .service-img-wrap img{
    transform: scale(1.1);
}