@import './variables.css';
@import './fonts.css';

body{
    color: var(--gray);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    font-family: var(--font-family-mplus);
    position: relative;
}