@import './variables.css';
@import './fonts.css';
html{
    overflow-x: hidden;
}

body {
    color: var(--gray-light);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    font-family: var(--font-family-mplus);
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

/* global styles  */
.text-main {
    color: var(--main-color);
}
.text-gray-light {
    color: var(--gray-light) !important;
}
.underline-none {
    text-decoration: none !important;
}

.sec-title {
    color: var(--secondary-color);
    font-family: 'BOYA alternative',sans-serif;
    font-size: 5rem;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

.sec-title::after {
    text-transform: uppercase;
    position: absolute;
    color: rgba(208, 188, 254, 1);
    opacity: 0.15;
    font-size: 16rem;
    line-height: 0.5;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.card-title{
    font-size: 36px;
    letter-spacing: 3.5px;
}

.btn-shadow {
    background: linear-gradient(90deg, rgba(197, 163, 224, 0.2) -14.09%, rgba(102, 36, 131, 0.2) 92.16%);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out;
    border: none;
}


.btn-shadow:hover {
    background: var(--background-dark);
    box-shadow: 0px 4px 40px 0px #EADDFF66;
}

.background-dark {
    background: var(--background-dark);
}

.btn:hover {
    color: var(--main-color) !important;
}

.btn-gradient {
    background-image: linear-gradient(to right, rgba(197, 163, 224, 0.2), rgba(102, 36, 131, 0.2)) !important;
}

.bg-gradient {
    background-image: linear-gradient(to right, rgba(107, 81, 138, .2), #352744, rgba(107, 81, 138, .2)) !important;
    box-shadow: 0px 4px 15px 0px rgba(234, 221, 255, 0.2);
}

.rounded-xl {
    border-radius: 1rem;
}

.list-none {
    list-style: none;
    padding: 0;
}

.resize-none {
    resize: none;
}

.max-w-56 {
    max-width: 56rem;
}

.custom-padding{
    padding-top: 65px;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: #3b3b49;
    border-radius: 50%;
    transition: background-color 0.7s ease, box-shadow 0.7s ease;
    margin-top: 43px;
}

.bullet-wrap {
    position: relative;
    align-self: stretch;
    width: fit-content;
}

.bullet-wrap::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    left: 42%;
    background-image: linear-gradient(to top, rgba(197, 163, 224, 0.2), rgba(102, 36, 131, 0.8), rgba(197, 163, 224, 0.2));
    background-size: 100% 400%;
    background-position: 0 75%;
    bottom: 0;
    z-index: -1;
}

.bullet.active {
    background-color: var(--gray-light);
    height: 15px;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(219, 79, 215, 0.31) 14.69%, rgba(6, 4, 44, 0) 100%);
    box-shadow: 1px 1px 26px 7px rgba(219, 79, 215, 0.61);
}

.logo-wrapper {
    max-width: 6.25rem;
    display: block;
    z-index: 1;
}

.logo-wrapper img{
    display: block;
}

hr.line {
    padding: 2px;
    border: 0;
    height: 3px;
    background-color: transparent;
    background-image: radial-gradient(50.73% 964895.74% at 50% 49.97%, var(--main-color) 0%, rgba(146, 39, 143, 0) 100%);
}

/* nav style */
.navbar-custom {
    background-color: transparent;
    z-index: 2;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.navbar-solid {
    background-color: rgba(var(--background-solid), 0.98);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--gray-light);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--main-color) !important;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    color: var(--main-color);
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.btn-scroll-down {
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background: var(--purple-color);
    fill: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s ease-in-out;
}

.btn-scroll-down:hover {
    box-shadow: 0px 4px 20px 0px #EADDFF66;
}

.btn-scroll-down img {
    width: 50px;
    height: 50px;
}

/* header style  */
.header-wrapper {
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 0, 0, .5) 2.69%, rgb(0, 0, 0, .5) 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 6px 10px 4px #00000026;
}

.header-wrapper video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    object-position: 50% 50%;
}

.header__title {
    font-size: 6rem;
    line-height: 0.5;
}

.header__subTitle {
    font-size: 1.5rem;
}

/* about style */
.home-page .about{
    position: relative;
}
.home-page .about::before{
    content: '';
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: calc(-80px + -3rem);
    left: 0;
    transform: translateY(0);
    background: linear-gradient(to bottom,transparent 20%, var(
    --background-dark) 80%);
}

.about .sec-title::after {
    content: 'About';
}

.about .bullet-wrap::after {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-position: 0 0%;
}


/* services style */
.services .service-item {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: block;
    text-decoration: none;
}

.services .service-item:hover {
    transform: translateY(-5px);
}

.services .service-item>a {
    color: var(--gray-light);
    text-decoration: none;
}

.services .service-item:hover .icon-container {
    animation: pulse 1s ease-in-out 1;
    filter: contrast(0) brightness(2);
}

.services .sec-title::after {
    content: 'services';
}

.services .icon-container {
    width: 5rem;
}

.link:hover {
    color: var(--main-color);
}

.services .bullet-wrap::after {
    background-position: 0 75%;
}

/* project style */
.projects .sec-title::after {
    content: 'projects';
}

.projects .projects-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projects-grid-container .box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0px rgba(234, 221, 255, 0.2)
}
.projects-grid-container .box h4,
.projects-grid-container .box p,
.project-list .box h4,
.project-list .box p{
    color: var(--gray-light);
    text-decoration: none;
}
.projects-grid-container .box,
.project-list .box{
    text-decoration: none;
}
.projects-grid-container .box span,
.project-list .box span{
    text-decoration: underline;
}

.projects-grid-container .box img {
    transition: all .4s;
}

.projects-grid-container .box .box-img-wrapper {
    overflow: hidden;
}

.projects-grid-container .box .box-img-wrapper img{
    height: 24rem;
    object-fit: cover;
}

.projects-grid-container .box:hover img {
    transform: scale(1.1);
}

.projects .bullet-wrap::after {
    background-position: 0 50%;
}

/* contact_us style */
.contact_us .sec-title::after {
    content: 'in touch';
}

.contact_us-list__txt {
    font-size: 0.75rem;
}

.contact_us-form-control {
    background-color: transparent !important;
    border: 1px solid var(--gray-medium);
    color: var(--gray-light) !important;
}

.text-gray-md {
    color: var(--gray-medium) !important;
}

.contact_us .bullet-wrap::after {
    background-position: 0 25%;
}

/* footer style  */
footer .bullet-wrap::after {
    background-position: 0 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

footer .bullet-wrap {
    width: 15px;
}

.copy-right-txt {
    font-size: 0.85rem;
}



.grid-media-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.grid-media-list li {
    text-align: center;
    margin-bottom: 0.5rem;
}

.grid-media-list li .social-link{
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: block;
    width: fit-content;
}

.grid-media-list li .social-link:hover{
    filter: contrast(10);
    transform: scale(1.1);
    box-shadow: 0px 25px 20px -17px rgba(219, 79, 215, 0.61);
}

.grid-media-list li img {
    width: 3rem;
    height: 3rem;
}

.follow-us:hover .grid-media-list{
    opacity: 1;
}

.clamp-two-lines {
    display: -webkit-box;
    /* Use a flexible box model */
    -webkit-box-orient: vertical;
    /* Set the box to be vertically oriented */
    -webkit-line-clamp: 2;
    /* Limit the number of lines to 2 */
    overflow: hidden;
    /* Hide the rest of the text */
    text-overflow: ellipsis;
    /* Add ellipsis (...) at the end of the truncated text */
}

/* loader */
.loader_section{
    background-color: rgba(0, 0, 0, .85);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.loader_section .loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1504px) {
    .custom-padding{
        padding-top: 50px;
    }
}


@media (max-width: 1100px) {
    .grid-media-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-media-list li {
        text-align: start;
    }

    .sec-title::after {
        font-size: 13rem;
    }

    .btn-scroll-down {
        min-width: 80px;
        min-height: 80px;
    }

    .btn-scroll-down img {
        width: 25px;
        height: 25px;
    }
    .custom-padding{
        padding-top: 43px;
    }
}

@media (max-width: 1024px) {
    .grid-media-list{
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .projects .projects-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .sec-title::after {
        font-size: 10rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        text-align: center;
        margin: .25rem auto;
    }

    .navbar-dark .navbar-nav .nav-link.active::after {
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(0%);
    }

    .header-wrapper{
        height: auto;
    }

    .header-wrapper video{
        position: static;
    }

    .bullet{
        top: 40px;
    }
}

@media (max-width: 530px) {
    .sec-title::after {
        font-size: 8rem;
    }
}

/* Fade In Background */
.fadeInBackground {
    animation: fadeInBg 1s ease-in-out forwards;
}


/* Fade Out Background */
.fadeOutBackground {
    animation: fadeOutBg 1s ease-out forwards;
}

@keyframes fadeInBg {
    from {
        background-color: transparent; /* or a specific initial color */
    }
    to {
        background-color:  rgba(var(--background-solid), 0.98); /* or your desired final color */
    }
}

/* Define the pulsing animation */
@keyframes fadeOutBg {
    from {
        background-color: rgba(var(--background-solid), 0.98); /* or your starting color */
    }
    to {
        background-color: transparent; /* or your ending color */
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}