:root{
    --main-color: #DB4FD7;
    --secondary-color: #D0BCFE;
    --gray-light: #ECF1F4;
    --gray-medium: #8C8CA1;
    --gray-dark: #868686;
    --purple-color: #652F90;
    --background-dark: #141218;
    --background-solid: 20, 18, 24;
    --main-bg:#141218;
    --main-font-size: 16px;
    --main-font-weight: 500;
    --font-family-mplus:'M PLUS 1p';
}