/* works page style  */
/* work-details */
.work-details {
    padding:calc(100px + 8rem) 3rem 3rem;
    background-image: linear-gradient(36.34deg, #212529 38.06% ,#410E57 87.91%);
}

.work-details .sec-title {
    color: var(--gray-light);
    margin: 0;
    line-height: 1;
}

.max-w-56 {
    max-width: 56rem;
}

.work-details .line {
    padding: 2px;
    background-image: radial-gradient(circle at center, #ed62e9, rgb(61 12 60) 100%);
}

.work-details__icon-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
}
.work-details .icon-wrap{
    width: 62px;
    height: 62px;
}
/* project-list style  */
.project-list .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.project-list .box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 10px 20px -10px rgba(234, 221, 255, 0.4);
}

@media (max-width: 992px) {
    .work-details__icon-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}